
<!-- Angular Material Dialog Component -->
<div class = "container" >
  <strong class ="h1">Photo Standards Guide </strong>

  <h2>If the requested photos are not included with your listing,our authentication team may not accept it as visual verification is essential for the integrity and trustworthiness</h2>

  <div mat-dialog-content>
    <p>include all the following images to authenticate your Item</p>
    <img class= "img" src=" assets/photoguide.png">
  </div>

  <div class = "actions">
    <button class = "matbutton" (click)="closeDialog()">Close</button>
  </div>
</div>



<!-- <div>
<h1 mat-dialog-title >Popup Dialog</h1>


<div mat-dialog-content  >
  <p>This is a popup dialog created using Angular Material.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
</div>

</div> -->

<!-- 
<div class="jw-modal">
  <div class="jw-modal-body">
      <ng-content></ng-content>
  </div>
</div> -->
