

<!-- <img class = "Courtsidelogo" src="assets/ok.png" alt ="Title" />  -->

<!-- <head> -->
    <link rel="stylesheet" href="app.component.css">
  <!-- </head> -->
  <!-- <body>  -->
    <img class = "Courtsidelogo" src="assets/ok.png" alt ="Title" /> 


    <div class="center" style="margin: bottom 50px;">
        <strong> Buys </strong>

    </div>

    <p>  Please Fill in The Information Below:  </p>

    <input name="email-address" type="text" required placeholder="Email Address" class ="input" style="margin-bottom: 35px;" />
   <div class = "flexbox">
    

   <input name = "name-of-item" type ="text" required placeholder = "Name of Item" class = "input" style = "margin-bottom: 5px;" />

   <input name = "price" type ="text" required placeholder = "Desired Price" class = "input" style = "margin-bottom: 5px;" />

 
  </div>

  <div class = "flexbox">
    

    <!-- <input name" = "name-of-item" type ="text" required placeholder = "Name of Item" class = "input" style = "margin-bottom: 5px;" />  -->

    <label class="input" id = "adjusted" style = "color:#4e9fcf">
       <input type="file"/>
      Upload Photos of Items
    </label> 

    <!-- <input name = "price" type ="text" required placeholder = "Desired Price" class = "input" style = "margin-bottom: 5px;" /> -->

 
    <div class = "buttoncss"> 

      <button class ="buttonyes"> 
         
 Submit

        </button> 
        
    </div> 
    
  
    </div>


    
<!-- 
    <a routerLink='/photoguide'> Photo Guide </a>
    <router-outlet></router-outlet> -->
  

    <div mat-dialog-actions>
      <a routerLink= '/popup' class="buttonno" mat-button (click)="openPopup()"> <u style="font-family:Georgia">Photo Guide </u> </a>
      
    </div>
    



    <!-- <a routerLink='/photoguide' ngSkipHydration>Photo Guide</a> -->

    

  
  
  <!-- </body> -->

 

